::placeholder { 
  color:#9c9c9c;
  opacity: 1; 
}

body{
  margin-left: 200px;
  color: white;
  background-color: #23272a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*       <div id="chat-messages" style="max-height: 300px; overflow-y: scroll; margin-right: 50px;">
 */
#chat-messages{
  margin-top: 20px;
  max-height: 380px;
  overflow-y: scroll;
  margin-right: 50px;
  background-color:  #373c40;
  padding-left: 5em;
  min-height: 380px;
}
.time-display{
  color: #848687;
  font-weight: lighter;
  font-size: smaller;
  margin-left: 4px;
}

.message-display{
  margin-top: 7px;
  margin-left: 10px;
  color: white;
  font-weight: normal;
  margin-bottom: 0px;
}

input{
  background-color: #5a5f63;
  color: white;
  min-height: 35px;
  padding-left: 20px;
  border-radius: 7px;
}

#msg{
  width: 950px;
  margin-right: 50px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.chat-form-container{
  text-align: center;
  padding-bottom: 30px;
}

#chat-container{
  margin-top: 20px;
  background-color:  #373c40;
  border-radius: 10px;
  margin-right: 5em;

}

#color-picker{
  padding: 5px;
  margin-left: 50px;
}